    body {
        font-family: Arial, sans-serif;
        margin: auto;
        background: #f4f4f4;
    }

    header {
        background: #0A3D62;
        color: white;
        padding: 20px 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;       
    }

    header h1 {
         margin: 0;
         flex: 4;
         padding-left: 125px;
         text-align: center;
         }
    nav{
        flex: 1;
    }
    nav a {
        color: white;
        text-decoration: none;
        margin-left: 30px;
        font-weight: bold;
    }

    .hero {
        background: url('https://bnwdevelopments.ae/aqua-arc-al-marjan-island/images/4.webp')
        center/cover no-repeat;
        height: 772px;
        padding: 30px 0px 0px 100px;
        color: white;
        text-shadow: 1px 1px 5px black;
        font-size: 40px;
        font-weight: bold;
        font-style: italic;
    }
    

    .container {
        padding-top: 10px;
        background: url('bckimg.jpeg')
        center/cover no-repeat;
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 100px;
        justify-items: center;
    }

    .card {
        background: lightblue;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
        transition: transform .3s;
    }

    .card:hover {
        transform: scale(1.02);
    }

    .card img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-content {
        padding: 15px;
        text-align: center;
    }

    .price {
        color: #0A3D62;
        font-weight: bold;
        font-size: 20px;
    }

    footer{
        position: fixed;
        width: 2200px;
        background: #0A3D62;
        color: white;
        text-align: center;
        padding: 15px;
        z-index: 1000px;
    }

    
        .box {
            width: 350px;
            margin: auto;
            margin-top: 100px;
            background: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
        input, button {
            width: 100%;
            padding: 10px;
            margin-top: 10px;
        }
        input{
          width: 320px;
        }
        #message{
            width: 320px;
        }
        button {
            background-color: #007bff;
            border: none;
            color: white;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056c1;
        }
        #output {
            margin-top: 15px;
            font-size: 18px;
            font-weight: bold;
        }
